<h2>"******** Now your result ********"</h2>
<p> Your word: <%= @answer %> </p>
<p> Translation: <%= @result[:translation] %></p>
<p> Your score: <%= @result[:score]  %></p>
<p> Message: <%= @result[:message] %>"</p>
<p>"*****************************************************"</p>

